<%# _user.html.erb %>

<%# list item %>


<td><%= "#{task.name}" %></td>
<td><%= "#{task.description}" %></td>
<td><%= "#{task.man_hours}" %></td>
<td><%= "#{task.resources}" %></td>
<td><%= "#{task.completion_date}" %></td>

<td><%= link_to "Show Task", task_path(:id) %></td>






