<%# _user.html.erb %>

<%# list item %>


<td><%= "#{task.name}" %></td>
<td><%= "#{task.description}" %></td>
<td><%= "#{task.man_hours}" %></td>
<td><%= "#{task.resources}" %></td>
<td><%= "#{task.completion_date}" %></td>

<td><%= link_to "Show Task", task_path(:id) %></td>
<td><%= link_to "Edit Task", task_path(:id) %></td> 
  <%# needs "/edit" after ":id" ... how? %>
<td><%= link_to "Soft Delete", task_path(:id), data: {confirm: "Are you sure?"}, :method => :destroy %></td>
<td><%= link_to "Hard Delete", task_path(:id), data: {confirm: "Are you sure?"}, :method => :destroy %></td>




<!-- Soft and Hard deletes logic-to-amend-text TODO -->







