<%# show.html.erb %>

<h2>Show Task</h2>


<table>
  <tr>
    <th id="name">Name</th>
    <th id="description">Description</th>
    <th id="man_hours">Man Hours</th>
    <th id="resources">Resources</th>
    <th id="completion_date">Completion Date</th>
  </tr>
  <tr>
    <div <%= "class=soft_delete" if @task.deleted %> >
      <td <%= "class=soft_delete" if task.deleted %>><%= "#{@task.name}" %></td>
      <td <%= "class=soft_delete" if task.deleted %>><%= "#{@task.description}" %></td>
      <td <%= "class=soft_delete" if task.deleted %>><%= "#{@task.man_hours}" %></td>
      <td <%= "class=soft_delete" if task.deleted %>><%= "#{@task.resources}" %></td>
      <td <%= "class=soft_delete" if task.deleted %>><%= "#{@task.completion_date}" %></td>
    </div>
    <td><%= link_to "Edit Task", edit_task_path(@task) %></td>
    <td><%= link_to "Hard Delete", task_path(@task), data: {confirm: "Are you sure?"}, :method => :delete %></td>   
    <td><%= link_to "Soft Delete", task_path(@task, :task => {:deleted => true}), :method => :patch %></td>
    <td><%= link_to "Undo Soft Delete", task_path(@task, :task => {:deleted => false}), :method => :patch %></td>   
  </tr>
</table>

