<%# show.html.erb %>

<h2>Show Task</h2>


<table>
  <tr>
    <th id="name">Name</th>
    <th id="description">Description</th>
    <th id="man_hours">Man Hours</th>
    <th id="resources">Resources</th>
    <th id="completion_date">Completion Date</th>
  </tr>
  <tr>
    <td><%= "#{task.name}" %></td>
    <td><%= "#{task.description}" %></td>
    <td><%= "#{task.man_hours}" %></td>
    <td><%= "#{task.resources}" %></td>
    <td><%= "#{task.completion_date}" %></td>
    <td><%= link_to "Edit Task", task_path(:id) %></td>
    <td><%= link_to "Delete Task", task(:id) %></td>
  </tr>
</table>

