<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTodoTwilio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
    table, th, td {
        border: 1px solid black; text-align: center; padding: 5px;
    }
    .soft_delete {
      color: gray; text-decoration: line-through;
    }
    </style>

  </head>

  <body>

    <div class="container">
      <% flash.each do |type, message| %>
        <div class="flash-notice">
          <strong/><%= message %></strong>
        </div>
      <% end %>
    </div>

    <%= yield %>
  
    <br>
    <%= render 'shared/navbar_links' %>

  </body>
</html>
